.diaryEntryContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label {
  background-color: #ebffc0;
  border-radius: 10px;
  padding: 0.5em 3em;
  text-align: left;
  width: 70%;
  font-weight: bold;
}

textarea {
  border: 0.5px solid gray;
  border-radius: 10px;
  padding: 1em;
  resize: none;
}

textarea:focus {
  outline: none;
}

.diaryEntryButton {
  width: 30%;
  background-color: #d4c0ff;
}
